<div>
<h1 class="titolo" align =center  >
  {{article?.title}}

</h1>

<div> {{article.time | date : "dd/MM/yy"}} </div>

<div  class="formatText">
  <p  align=center>{{article.text}}</p>
</div>

<h4 align="right">{{article.author}}</h4>



<hr  width = "50%" align="center" noshade size="1.5" color="black">


<hr  width = "90%" align="center" noshade size="1.5" color="black">

</div>

<section class="wrapper">
  <div class="columnr"  class="example-button-row">
    <button mat-raised-button color="Warn" (click)="like()">Like</button>
    <div> {{article.numLike}} </div>
  </div>
  <div   class="columnl">
    <button mat-raised-button value="dislike" (click)="dislike()">DisLike</button>
    <div> {{article.numDislike}} </div>
  </div>
</section>

