<div class="lista">
<button class="button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" xPosition="after" yPosition="above">
  <button mat-menu-item (click)=select(true)>Ordina per data</button>
  <button mat-menu-item (click)=select(false)>Ordina per popolarità</button>
</mat-menu>

<h6 *ngFor="let a of articoliPrincipali">
  <app-articolo-item [art] = a (articoloSelezionato)=selezionatoArticolo($event)>

  </app-articolo-item>

</h6>


</div>
